<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="text-center text-primary">

  <h1>New Location</h1>

  <%= render 'form' %>

  <%= link_to 'Back', locations_path %>
</div>
</div>
</div>